.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

    .detail-img {
        height: 50%;
    }

    .detail-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }
    .gocart{
        color: white;
        text-decoration: none;

    }
    .gocart:hover{
        color: white;
    }
    .buttonsCart{
        margin: 0  20px;
    }
    
