.count-container {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
    gap: 15px;
    padding-bottom: 60px;
    
}
.count, .linkHome{
    text-decoration: none;
}
.count:hover{
    color: white;
}
.buttonCustom{
    background-color:  rgb(8, 116, 239);
    border-radius: 20px;
    border-color: black;
    height: 40px;
    color: aliceblue;
    font-size: 20px;
}

.buttonsCart{
    margin: 0  20px;
}
.gocart{
    color: white;
    text-decoration: none;

}
.gocart:hover{
    color: white;
}
