.containerNavBar, .navBar-list, .navBar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.BrandName {
    background-color: black;
    color: white !important;
    font-size: 24px;
    padding:  10px;
    font-size: 20px !important;
}
.ul-link {
    color: rgb(8, 116, 239) !important;
    font-size: 20px !important;
}
.fs-16{
    font-size: 16px;
}
.navbar-custom {
    margin: 36px 36px;
}
.imgNavBar{
    height: 50px;
    width: 50px !important;
}